<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
    <title>Valeria Hernandez | Home Page</title>
    <meta
      name="description"
      content="An inside look of the life of Computer Science student Valeria Hernandez"
    />
  </head>
  <body>
    <header class="main-header">
      <nav class="nav main-nav">
        <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="about.html">ABOUT</a></li>
          <li><a href="learningResources.html">LEARNING RESOURCES</a></li>
          <li><a href="projects.html">PROJECTS</a></li>
        </ul>
      </nav>

      <h1 class="name name-large">Valeria Hernandez</h1>
    </header>

    <section class="content-section container">
      <h2 class="section-header">
        Welcome to Valeria Hernandez's personal portal
      </h2>
      <img src="valGrad.jpg" class="grad" />
      <p>
        Hi! My name is Valeria Hernandez. I am a junior in college who designed
        this website for potential employers. The page you're on right now, is
        simply the <strong>'Home'</strong> page. This page is giving
        descriptions of the different features of the website that users can
        access. In order to navigate the website, users can select one of four
        tabs. When the user selects the <strong>'About'</strong> tab, they will
        get an inside look into what my life is like outside of professional
        settings. The <strong>'Learning Resources'</strong> tab will allow users
        to read and access the different material that I have used to amplify my
        coding learning experience. There are youtube channels and udemy
        couurses with descriptions to make it more clear-cut for users what the
        purpose of each learning tool was. The <strong>'Projects'</strong> tab
        will allow the user to read about projects I've created to help continue
        to practice my code. If the user directs their attention to the bottom
        of the page, my name will pop up along with two buttons, one for my
        LinkedIn and one for my GitHub. Pressing the buttons will launch a new
        tab into my personal accounts that users can checkout!
      </p>
    </section>

    <footer class="main-footer">
      <div class="container main-footer-container">
        <h3 class="name name-footer">Valeria Hernandez</h3>
        <ul class="nav footer-nav">
          <li>
            <a href="https://github.com/" target="_blank">
              <img src="github_PNG20.png.crdownload" class="git" />
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/feed/" target="_blank">
              <img src="linkedIn-logo.png.crdownload" class="linked" />
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
